asgiref==3.5.0
awscli==1.20.41
click==8.0.3
colorama==0.4.3
Django==4.0.1
docutils==0.15.2
Flask==2.0.2
Flask-MySQLdb==0.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mysqlclient==2.1.0
pyasn1==0.4.8
PyMySQL==1.0.2
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
Werkzeug==2.0.2
